#main-body
  #main
    %h1 The Creative Cesspool.
  #news
    %h2 The heck are you reading news for?
  #sports
    %div{:Class => "sports", :Style => "margin-left:25px;background-image:url(../assets/images/basketball.png);"}
      %h1{:style => "text-align:center"} Basketball
    %div{:Class => "sports", :Style => ""}
      %h1{:style => "text-align:center"} Baseball
    %div{:Class => "sports", :Style => ""}
      %h1{:style => "text-align:center"} Football
    %div{:Class => "sports", :Style => "margin-left:132px;"}
      %h1{:style => "text-align:center"} Soccer
    %div{:Class => "sports", :Style => ""}
      %h1{:style => "text-align:center"} Volleyball
    %div{:Class => "sports", :Style => ""}
      %h1{:style => "text-align:center"} More...
